<div class="container-fluid enrollment-container">
  <div class="row">
    <div class="col">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseTwo">
              <span>
                Memorias
              </span>
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="row">
                <div class="col-12 col-lg-6 mt-5 mt-sm-5 mt-md-5 mt-lg-4">
                  <div class="row mx-auto">
                    <div class="col-12 col-lg-6 my-auto d-flex justify-content-center"><img class="qr-img" src="assets/qr.png" alt=""></div>
                    <div class="col-12 col-lg-6 d-flex justify-content-center">
                      <div class="mt-3 mt-lg-0">
                        <span class="title-black">1º Congreso Bolivia Innova</span>
                        <br>
                        <span class="title-black-italic">Año</span>
                        <br>
                        <span class="title-black-italic">Ciudad</span>
                        <br>
                        <span class="title-black-italic">Resumen</span>
                        <div class="row">
                          <div class="col">
                            <button class="archive-memories-button">
                              <a href="https://www.youtube.com/" target="_blank">Link de descarga</a>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-6 mt-5 mt-sm-5 mt-md-5 mt-lg-4">
                  <div class="row mx-auto">
                    <div class="col-12 col-lg-6 my-auto d-flex justify-content-center"><img class="qr-img" src="assets/qr.png" alt=""></div>
                    <div class="col-12 col-lg-6 d-flex justify-content-center">
                      <div class="mt-3 mt-lg-0">
                        <span class="title-black">2º Congreso Bolivia Innova</span>
                        <br>
                        <span class="title-black-italic">Año</span>
                        <br>
                        <span class="title-black-italic">Ciudad</span>
                        <br>
                        <span class="title-black-italic">Resumen</span>
                        <div class="row">
                          <div class="col">
                            <button class="archive-memories-button">
                              <a href="https://www.youtube.com/" target="_blank">Link de descarga</a>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <span>
                Videos y cápsulas
              </span>
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              text
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseTwo">
              <span>
                Archivo Fotográfico
              </span>
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              text
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseTwo">
              <span>
                Otros
              </span>
            </button>
          </h2>
          <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              text
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
