<div class="container-fluid">
  <div class="row">
    <div class="col d-block">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseTwo">
              <span>
                1. ¿Cuándo se realizará Bolivia Innova - Congreso de Bioinnovación?
              </span>
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              El congreso lo tendremos del 11 al 14 de diciembre del 2024.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <span>
                2. ¿Cuales son las ventajas?
              </span>
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              Los participantes podrán participar en los talleres, presentaciones y mesas redondas. Además entregaremos certificados de participación y la oportunidad de participar del concurso al mejor póster presentado.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <span>
                3. ¿Cómo puedo aplicar?
              </span>
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              Si quieres participar con un poster, tendrás que enviarnos un resumen de tu trabajo que no puede superar los 2.600 caracteres.
              Cada resumen debe contener:
              <br><br>
              <b>(a)</b> Una frase introductoria que indique los objetivos del estudio;
              <br>
              <b>(b)</b> Una breve descripción de los procedimientos experimentales pertinentes;
              <br>
              <b>(c)</b> Un resumen de los datos nuevos e inéditos;
              <br>
              <b>(d)</b> Una exposición de las conclusiones.
              <br>
              <b>(e)</b> Referencias (opcional).
              <br><br>

              <b>Caracteres que no cuentan en el abstract final:</b>
              <br>
              <b>-</b> Nombre y afiliación de los autores.
              <br>
              <b>-</b> Número de Abstract
              <br>
              <b>-</b> Espacios
              <br><br>

              <b>Tablas y figuras:</b>
              <br>
              <b>-</b> Un máximo de 1 a dos figuras, puede ser permitido en el resumen.
              <br>
              <b>-</b> Tablas deberán tener no mas de 12 columnas o 20 filas.
              <br>
              <b>-</b> La calidad de la figura tiene que ser óptima, de tal modo que sea claramente legibles.
              <br>
              <b>-</b> Las figuras no podrán ser editadas después de la aceptación del resumen.
              <br><br>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
              <span>
                4. Modelo de Presentación de Resúmenes
              </span>
            </button>
          </h2>
          <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              Se asignará un número de control de cada trabajo que se podrá categorizar como póster o presentación oral de acuerdo a la calidad del trabajo.
              <br><br>
              El envió de los trabajos tiene fecha límite hasta el 5 de octubre hasta las 18hrs (GMT -4).
              <div class="mt-4">
                <a href="assets/download/BM014_Arias_Reyes.pdf" download class="btn btn-primary btn custom-download-btn">
                  <i class="fas fa-download"></i>
                  Descargar
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
              <span>
                5. ¿Cuál es el número límite de resúmenes que un autor puede presentar?
              </span>
            </button>
          </h2>
          <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              No existe número límite.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
              <span>
                6. ¿Cuáles son las reglas generales del congreso?
              </span>
            </button>
          </h2>
          <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              Por favor revise los estatutos del congreso.
              <div class="mt-4">
                <a href="assets/download/Estatutos.pdf" download class="btn btn-primary btn custom-download-btn">
                  <i class="fas fa-download"></i>
                  Descargar
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseThree">
              <span>
                7. ¿Cuándo puedo ver el programa final del congreso?
              </span>
            </button>
          </h2>
          <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              El programa preliminar del congreso será anunciado a principios de Noviembre. Le pedimos que siga de cerca las actualizaciones de la página del congreso.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseThree">
              <span>
                8. ¿Cuándo puedo registrarme al congreso?
              </span>
            </button>
          </h2>
          <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              El registro al congreso estará abierto a partir del 30 de Agosto. Le pedimos que siga de cerca las actualizaciones de la página del congreso.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col announcement-container">
      <button class="announcement-button">
        <a href="https://www.youtube.com/" target="_blank">¡INSCRIBETE <br> AQUI!</a>
      </button>
    </div>
  </div>
</div>
<img src="assets/lateral1.png" alt="lateral" class="lateral-image">

