<div class="container-fluid home-container">
  <div class="row home-row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 home-text-container-1">
      <div class="home-text-container-1-content">
        <span class="home-text-container-1-content-1">¡Soñadores <br> curiosos y <br> apasionados!</span>
        <br>
        <span class="home-text-container-1-content-2">Inscripciones abiertas 2024</span>
        <br><br>
        <span class="home-text-container-1-content-3">
          <a href="https://www.youtube.com/" target="_blank">¡INSCRIBETE AHORA!</a>
        </span>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 home-text-container-2">
      2
    </div>
  </div>
  <div class="row">
    <div class="col home-text-container-3">
      <marquee> BIOTECNOLOGÍA BLANCA  |  BIOTECNOLOGÍA ROJA  |  BIOTECNOLOGÍA AMARILLA  |  BIOTECNOLOGÍA VERDE</marquee>
    </div>
  </div>
</div>

