<div class="container-fluid enrollment-container">
  <div class="row container-1">
    <div class="col-12 col-lg-6 enrollment-item-container">
      <div class="enrollment-item-container-content">
        <span class="item-container-title">Estudiante</span>
        <div class="enrollment-item">
          <div class="row">
            <div class="col">
              <span class="item-container-text-1">Bs.100</span>
              <br>
              <span class="item-container-text-2">Hasta(fecha)</span>
              <br>
              <span class="item-container-text-3">Por persona.</span>
            </div>
            <div class="col earlybird-container">
              <img class="earlybird-img" src="assets/earlybird.png" alt="earlybird">
            </div>
          </div>

        </div>
        <div class="enrollment-item-footer">
          <span>Bs.150 terminado el plazo inicial</span>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6 enrollment-item-container">
      <div class="enrollment-item-container-content">
        <span class="item-container-title">Profesional</span>
        <div class="enrollment-item">
          <div class="row">
            <div class="col">
              <span class="item-container-text-1">Bs.150</span>
              <br>
              <span class="item-container-text-2">Hasta(fecha)</span>
              <br>
              <span class="item-container-text-3">Por persona.</span>
            </div>
            <div class="col earlybird-container">
              <img class="earlybird-img" src="assets/earlybird.png" alt="earlybird">
            </div>
          </div>
        </div>
        <div class="enrollment-item-footer">
          <span>Bs.200 terminado el plazo inicial</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row container-2">
    <div class="col">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseTwo">
              <span>
                Cuentas bancarias para Bolivia
              </span>
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="row">
                <div class="col-12 col-lg-6">
                  <div class="row mx-auto">
                    <div class="col-12 col-lg-6 my-auto d-flex justify-content-center"><img class="qr-img" src="assets/qr.png" alt=""></div>
                    <div class="col-12 col-lg-6 d-flex justify-content-center bank-info">
                      <div class="mt-3 mt-lg-0">
                        <span class="span-title">Banco Mercantil Santa Cruz</span>
                        <br>
                        <span class="span-italic">Caja de Ahorro</span>
                        <br>
                        <span class="span-title">4066618306</span></div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-6 mt-5 mt-sm-5 mt-md-5 mt-lg-0">
                  <div class="row mx-auto">
                    <div class="col-12 col-lg-6 my-auto d-flex justify-content-center"><img class="qr-img" src="assets/qr.png" alt=""></div>
                    <div class="col-12 col-lg-6 d-flex justify-content-center bank-info">
                      <div class="mt-3 mt-lg-0">
                        <span class="span-title">Banco Mercantil Santa Cruz</span>
                        <br>
                        <span class="span-italic">Caja de Ahorro</span>
                        <br>
                        <span class="span-title">4066618306</span></div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-6 mt-5 mt-sm-5 mt-md-5 mt-lg-4">
                  <div class="row mx-auto">
                    <div class="col-12 col-lg-6 my-auto d-flex justify-content-center"><img class="qr-img" src="assets/qr.png" alt=""></div>
                    <div class="col-12 col-lg-6 d-flex justify-content-center bank-info">
                      <div class="mt-3 mt-lg-0">
                        <span class="span-title">Banco Mercantil Santa Cruz</span>
                        <br>
                        <span class="span-italic">Caja de Ahorro</span>
                        <br>
                        <span class="span-title">4066618306</span></div>
                      </div>
                  </div>
                </div>
                <div class="col-12 col-lg-6 mt-5 mt-sm-5 mt-md-5 mt-lg-4">
                  <div class="row mx-auto">
                    <div class="col-12 col-lg-6 my-auto d-flex justify-content-center"><img class="qr-img" src="assets/qr.png" alt=""></div>
                    <div class="col-12 col-lg-6 d-flex justify-content-center bank-info">
                      <div class="mt-3 mt-lg-0">
                        <span class="span-title">Banco Mercantil Santa Cruz</span>
                        <br>
                        <span class="span-italic">Caja de Ahorro</span>
                        <br>
                        <span class="span-title">4066618306</span></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row enrollment-footer">
                <div class="col enrollment-footer-container">
                  <div>
                    <span class="enrollment-footer-title">DATOS</span>
                    <br>
                    <span class="span-title-italic">Sergio Daniel Moreira Ascarrunz</span>
                    <br>
                    <span><b>Carnet de Identidad:</b> 2635289 LP</span>
                    <br>
                    <span><b>Celular:</b> 78772892</span>
                    <br>
                    <span><b>Email:</b> info&#64;seridbolivia.com</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <span>
                Cuentas bancarias para el extranjero
              </span>
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              text
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<img src="assets/lateral2.png" alt="lateral" class="lateral-image">
