<nav class="navbar navbar-expand-lg pt-lg-5 fixed-top nav-container">
  <div class="container-fluid pt-lg-3">
    <div class="position-absolute d-none d-sm-none d-md-none d-lg-block">
      <img src="../../../assets/logo.png" alt="logo" width="300px" class="logo-img">
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <a class="nav-link" routerLink="inicio" routerLinkActive="active">Inicio</a>
        <a class="nav-link" routerLink="convocatoria" routerLinkActive="active">Convocatoria</a>
        <a class="nav-link" routerLink="inscripcion" routerLinkActive="active">Inscripción</a>
        <a class="nav-link" routerLink="programa" routerLinkActive="active">Programa</a>
        <a class="nav-link" routerLink="expositores" routerLinkActive="active">Expositores</a>
        <a class="nav-link" routerLink="organizadores" routerLinkActive="active">Organizadores</a>
        <a class="nav-link" routerLink="archivo" routerLinkActive="active">Archivos</a>
      </div>
    </div>
  </div>
</nav>
