<footer class="footer sticky">
  <div class="container">
    <div class="row">
      <div class="col d-flex align-items-center">
        <span class="d-none d-lg-block">Redes sociales:</span>
        <br>
        <div class="container px-1 text-center">
          <div class="row gx-1">
            <div class="col">
              <a class="social-link"
                 target="_blank"
                 href="https://www.facebook.com/bolivia.innova.3">
                <i class="fa-brands fa-facebook"></i>
              </a>
            </div>
            <div class="col">
              <a class="social-link"
                 target="_blank"
                 href="https://www.instagram.com/congresoboliviainnova/">
                <i class="fa-brands fa-instagram"></i>
              </a>
            </div>
            <div class="col">
              <i class="fa-brands fa-linkedin"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col d-flex align-items-center">
        <span class="d-none d-lg-block">Sponsors/Partners:</span>
      </div>
    </div>

  </div>
</footer>
