<footer class="footer sticky">
  <div class="container">
    <div class="row">
      <div class="col d-flex align-items-center">
        <span class="d-none d-lg-block">Redes sociales:</span>
        <br>
        <div class="container px-1 text-center">
          <div class="row gx-1">
            <div class="col">
              <i class="fa-brands fa-x-twitter"></i>
            </div>
            <div class="col">
              <i class="fa-brands fa-facebook"></i>
            </div>
            <div class="col">
              <i class="fa-brands fa-instagram"></i>
            </div>
            <div class="col">
              <i class="fa-brands fa-tiktok"></i>
            </div>
            <div class="col">
              <i class="fa-brands fa-youtube"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col d-flex align-items-center">
        <span class="d-none d-lg-block">Sponsors/Partners:</span>
      </div>
    </div>

  </div>
</footer>
